#header {
    padding-top: 10px;
}

#changes_slider {
        height: 28px;
        line-height: 28px;
}

#builders_slider {
        height: 28px;
        line-height: 28px;
}

#buildslaves_slider {
        height: 28px;
        line-height: 28px;
}

#masters_slider {
        height: 28px;
        line-height: 28px;
}

.field-changeid {
    width: 100px;
}


.slider {
    text-align: center;
    color: #08C;
    font-size: 14px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    }

.slider:hover {
    /* text-decoration:underline; */
    background: #efefef;
    cursor: pointer;
    }

.slider_clicked {
    background: #efefef;
    cursor: pointer;
    font-weight: bold;
    }
